* {
	--main-bg-color            : #f0f5fa;
	--logo-color               : #007aa9;
	--gr-text-color            : #2b2e36;
	--line-transp-blue-color   : #bdcfe4;
	--blue                     : #57BDDB;
	--vk-color                 : #2787F5;
	--dark-color               : #2C2C2C;
	--card-shadow              : 0 1rem 5rem rgba(0, 0, 0, 0.1);
	--rubik-font               : "Rubik", sans-serif;
}

body,
html {
	background-color      : var(--main-bg-color);
	font-family           : var(--rubik-font);
	color                 : var(--gr-text-color);
	font-size             : 10px;
	-webkit-user-select   : none;
	-moz-user-select      : none;
	-ms-user-select       : none;
	user-select           : none;
}

h1 {
	font-size     : 6.4rem;
	font-weight   : 700;
}

h2 {
	font-size     : 5rem;
	font-weight   : 700;
	text-align    : center;
	text-indent   : 0;
}

h4 {
	font-size   : 3rem;
}

b,
.b {
	font-weight   : 700;
}

strong,
.strong {
	font-weight   : 500;
}

p {
	font-size     : 2.4rem;
	line-height   : 1.2;
}

img {
	pointer-events   : none;
}

/* ! ССЫЛКИ */

a {
	color   : var(--logo-color);
}

a[href^="tel"] {
	white-space   : nowrap;
}

a.underline {
	position      : relative;
	display       : inline-block;
	padding       : .1rem 1rem .3rem;
	font-weight   : 500;
	text-indent   : 0;
	transition    : all .1s ease;
}

a.underline:hover {
	color   : white;
}

a.underline::after {
	content            : '';
	position           : absolute;
	background-color   : var(--logo-color);
	border-radius      : .9rem;
	top                : 90%;
	right              : 1rem;
	left               : 1rem;
	height             : 2px;
	transition         : all .1s ease;
}

a.underline:hover::after {
	top       : 0;
	left      : 0;
	right     : 0;
	height    : 100%;
	z-index   : -1;
}

/* ! BUTTON 1 */

.button {
	--button_bg_color     : #007AA926;
	--button_text_color   : var(--logo-color);
	--button_rad          : 2rem;
	position              : relative;
	display               : -ms-flexbox;
	display               : flex;
	-ms-flex-align        : center;
	align-items           : center;
	overflow              : hidden;
	background-color      : var(--button_bg_color);
	padding               : .27em 1.38em;
	border-radius         : var(--button_rad);
	min-width             : -webkit-max-content;
	min-width             : -moz-max-content;
	min-width             : max-content;
	color                 : var(--button_text_color);
	transition            : color .2s linear;
}

.button>*+* {
	margin   : 0 0 0 1rem;
}

.button svg {
	transition   : all .3s ease;
	fill         : var(--button_text_color);
}

.button:hover {
	color   : white !important;
}

.button:hover svg {
	fill   : white !important;
}

.button::before {
	content             : '';
	position            : absolute;
	background-color    : var(--button_text_color);
	border-radius       : 100%;
	left                : 50%;
	bottom              : -105%;
	width               : 30%;
	height              : 100%;
	transition          : all .3s ease;
	-webkit-transform   : translateX(-50%);
	-ms-transform       : translateX(-50%);
	transform           : translateX(-50%);
	z-index             : 1;
}

.button:hover::before {
	border-radius   : var(--button_rad);
	bottom          : 0;
	width           : 100%;
	height          : 100%;
}

.button>* {
	z-index   : 2;
}

/* ! BUTTON 2 */

.button2 {
	position           : relative;
	display            : -ms-flexbox;
	display            : flex;
	-ms-flex-align     : center;
	align-items        : center;
	background-color   : var(--logo-color);
	padding            : .8rem 2.5rem;
	font-size          : inherit;
	border-radius      : 2rem;
	min-width          : -webkit-max-content;
	min-width          : -moz-max-content;
	min-width          : max-content;
	color              : white;
	transition         : all .2s ease;
}

.button2:hover {
	-webkit-transform   : scale(1.08);
	-ms-transform       : scale(1.08);
	transform           : scale(1.08);
	box-shadow          : 0 0 1rem var(--blue);
}

/* LOADING */

.loading_container {
	width     : 100%;
	height    : 100%;
	display   : -ms-flexbox;
	display   : flex;
}

.loading_box {
	margin              : auto;
	width               : 1.4rem;
	height              : 1.4rem;
	border-radius       : 100%;
	box-shadow          : 15px 15px rgb(79, 77, 73), -15px 15px rgb(223, 223, 223), -15px -15px rgb(79, 77, 73), 15px -15px rgb(223, 223, 223);
	-webkit-animation   : loading_anim ease infinite 2s;
	animation           : loading_anim ease infinite 2s;
}

@-webkit-keyframes loading_anim {

	0%,
	100% {
		box-shadow   : 15px 15px rgb(79, 77, 73), -15px 15px rgb(223, 223, 223), -15px -15px rgb(79, 77, 73), 15px -15px rgb(223, 223, 223);
	}

	25% {
		box-shadow   : -15px 15px rgb(223, 223, 223), -15px -15px rgb(79, 77, 73), 15px -15px rgb(223, 223, 223), 15px 15px rgb(79, 77, 73);
	}

	50% {
		box-shadow   : -15px -15px rgb(79, 77, 73), 15px -15px rgb(223, 223, 223), 15px 15px rgb(79, 77, 73), -15px 15px rgb(223, 223, 223);
	}

	75% {
		box-shadow   : 15px -15px #dfdfdf, 15px 15px #4f4d49, -15px 15px #dfdfdf, -15px -15px #4f4d49;
	}
}

@keyframes loading_anim {

	0%,
	100% {
		box-shadow   : 15px 15px rgb(79, 77, 73), -15px 15px rgb(223, 223, 223), -15px -15px rgb(79, 77, 73), 15px -15px rgb(223, 223, 223);
	}

	25% {
		box-shadow   : -15px 15px rgb(223, 223, 223), -15px -15px rgb(79, 77, 73), 15px -15px rgb(223, 223, 223), 15px 15px rgb(79, 77, 73);
	}

	50% {
		box-shadow   : -15px -15px rgb(79, 77, 73), 15px -15px rgb(223, 223, 223), 15px 15px rgb(79, 77, 73), -15px 15px rgb(223, 223, 223);
	}

	75% {
		box-shadow   : 15px -15px #dfdfdf, 15px 15px #4f4d49, -15px 15px #dfdfdf, -15px -15px #4f4d49;
	}
}

















/* CONTAINER */

.container {
	margin      : 0 auto;
	padding     : 5rem 1rem;
	width       : calc(80% + 3rem);
	max-width   : 1566px;
}

section {
	overflow   : hidden;
}









/* ! MOBILE NAV */

.mobile_modal_nav {
	--section-size                      : .7vmin;
	position                            : fixed;
	display                             : -ms-flexbox;
	display                             : flex;
	visibility                          : hidden;
	background-color                    : #051522;
	top                                 : -25%;
	width                               : 100%;
	height                              : 150%;
	font-size                           : 1.2vmin;
	-webkit-animation-timing-function   : ease;
	animation-timing-function           : ease;
	z-index                             : 1000;
}

.mobile_modal_nav__inner {
	display              : -ms-flexbox;
	display              : flex;
	-ms-flex-direction   : column;
	flex-direction       : column;
	-ms-flex-align       : center;
	align-items          : center;
	overflow-y           : auto;
	margin               : auto;
	padding              : 2em 0;
	width                : 100vw;
	height               : 100vh;
	font-size            : 6em;
}

.mobile_modal_nav__logo {
	-ms-flex-negative   : 0;
	flex-shrink         : 0;
	margin-top          : auto;
	width               : 9em;
	height              : auto;
}

.mobile_modal_nav__inner>a {
	color   : white;
}

.mobile_modal_nav__inner>*+* {
	margin   : calc(var(--section-size) * 8) 0 0 0;
}

.mobile_modal_nav__close {
	display            : -ms-flexbox;
	display            : flex;
	cursor             : pointer;
	margin-bottom      : auto;
	background-color   : transparent;
}

.mobile_modal_nav__close>svg {
	-ms-flex-negative   : 0;
	flex-shrink         : 0;
	width               : 1em;
	height              : 1em;
	fill                : white;
	margin              : auto;
}


.mobile_modal_nav__inner>*:not(:first-child) {
	transition   : all .1s ease;
}

.mobile_modal_nav__inner>*:not(:first-child):hover {
	background-color   : var(--logo-color);
	padding            : .3em .8em;
	border-radius      : 100px;
	box-shadow         : 0 0 10px var(--logo-color);
}





@-webkit-keyframes modal_nav_show {
	from {
		visibility          : hidden;
		opacity             : 0;
		-webkit-transform   : translate(0, 10%);
		transform           : translate(0, 10%);
	}

	to {
		visibility          : visible;
		opacity             : .96;
		-webkit-transform   : translate(0, 0);
		transform           : translate(0, 0);
	}
}





@keyframes modal_nav_show {
	from {
		visibility          : hidden;
		opacity             : 0;
		-webkit-transform   : translate(0, 10%);
		transform           : translate(0, 10%);
	}

	to {
		visibility          : visible;
		opacity             : .96;
		-webkit-transform   : translate(0, 0);
		transform           : translate(0, 0);
	}
}


@-webkit-keyframes modal_nav_hide {
	from {
		visibility          : visible;
		opacity             : .96;
		-webkit-transform   : translate(0, 0);
		transform           : translate(0, 0);
	}

	to {
		visibility          : hidden;
		opacity             : 0;
		-webkit-transform   : translate(0, -10%);
		transform           : translate(0, -10%);
	}
}


@keyframes modal_nav_hide {
	from {
		visibility          : visible;
		opacity             : .96;
		-webkit-transform   : translate(0, 0);
		transform           : translate(0, 0);
	}

	to {
		visibility          : hidden;
		opacity             : 0;
		-webkit-transform   : translate(0, -10%);
		transform           : translate(0, -10%);
	}
}



.mobile_modal_nav.show {
	visibility                   : visible;
	opacity                      : .96;
	-webkit-animation-name       : modal_nav_show;
	animation-name               : modal_nav_show;
	-webkit-animation-duration   : .3s;
	animation-duration           : .3s;
}

.mobile_modal_nav.hide {
	visibility                   : hidden;
	opacity                      : 0;
	-webkit-animation-name       : modal_nav_hide;
	animation-name               : modal_nav_hide;
	-webkit-animation-duration   : .5s;
	animation-duration           : .5s;
}















/* ! HEADER */

.header {
	position            : fixed;
	display             : -ms-flexbox;
	display             : flex;
	-ms-flex-pack       : justify;
	justify-content     : space-between;
	-ms-flex-align      : center;
	align-items         : center;
	background-color    : white;
	padding             : 1rem 3rem;
	border-radius       : 0 0 15px 15px;
	left                : 50%;
	width               : 90%;
	max-width           : 1536px;
	font-size           : 2rem;
	-webkit-transform   : translateX(-50%);
	-ms-transform       : translateX(-50%);
	transform           : translateX(-50%);
	box-shadow          : 0 0 50px rgba(0, 0, 0, 0.1);
	z-index             : 900;
}

.header__nav>*+* {
	margin   : 0 0 0 3em;
}

.header__nav>a {
	position     : relative;
	color        : var(--gr-text-color);
	transition   : all ease .3s;
}

.header__nav>a:hover {
	color   : var(--logo-color);
}

.header__nav>a::after {
	content             : '';
	position            : absolute;
	background-color    : var(--logo-color);
	left                : 50%;
	bottom              : -8px;
	width               : 0;
	height              : 2px;
	transition          : all .3s ease;
	-webkit-transform   : translateX(-50%);
	-ms-transform       : translateX(-50%);
	transform           : translateX(-50%);
}

.header__nav>a:hover::after {
	width   : 100%;
}


.header__auth {
	font-size   : 1.1em;
}

.header__auth>*:first-child {
	margin-right   : 5px;
	font-size      : 1.2em;
}

.header__modal_menu {
	display        : none;
	cursor         : pointer;
	margin-right   : 15px;
	width          : 40px;
	height         : 40px;
	fill           : var(--logo-color);
}














/* ! MAIN SECTION */

.main {
	--section_size     : 1rem;
	font-size          : 1rem;
	display            : -ms-flexbox;
	display            : flex;
	min-height         : 100%;
	line-height        : 1.2;
	background-color   : var(--main-bg-color);
}

.main__inner {
	display           : -ms-flexbox;
	display           : flex;
	-ms-flex-pack     : center;
	justify-content   : center;
	-ms-flex-align    : center;
	align-items       : center;
	margin            : auto;

}

.main__left {
	display              : -ms-flexbox;
	display              : flex;
	-ms-flex-direction   : column;
	flex-direction       : column;
	-ms-flex-align       : center;
	align-items          : center;
	min-width            : -webkit-max-content;
	min-width            : -moz-max-content;
	min-width            : max-content;
	text-align           : center;
}

.main__left>*+* {
	margin   : calc(var(--section_size) * 4) 0 0 0;
}

.main__right {
	width    : 35%;
	height   : auto;
}

.main__line {
	background-color   : var(--line-transp-blue-color);
	border-radius      : 4em;
	height             : 0.3em;
	font-size          : inherit;
}

.main__title {
	font-size   : 6.4em;
}

.main__title>span {
	color   : var(--logo-color);
}

.main__text {
	font-size   : 4em;
}

.main__left>.button {
	font-size           : 4em;
	-webkit-animation   : main_butt_anim 5s infinite linear;
	animation           : main_butt_anim 5s infinite linear;
}

.main__left>.button:hover {
	-webkit-animation   : none;
	animation           : none;
}

@-webkit-keyframes main_butt_anim {
	40% {
		top   : 0em;
	}

	43% {
		top   : -0.5em;
	}

	46% {
		top   : 0em;
	}

	48% {
		top   : -0.2em;
	}

	50% {
		top   : 0em;
	}
}

@keyframes main_butt_anim {
	40% {
		top   : 0em;
	}

	43% {
		top   : -0.5em;
	}

	46% {
		top   : 0em;
	}

	48% {
		top   : -0.2em;
	}

	50% {
		top   : 0em;
	}
}
















/* ! WHO WE ARE */

.whoweare {
	background-color   : white;
}

.whoweare__inner {
	display           : -ms-flexbox;
	display           : flex;
	-ms-flex-align    : end;
	align-items       : flex-end;
	-ms-flex-pack     : justify;
	justify-content   : space-between;
}

.whoweare__inner>*+* {
	margin   : 0 0 0 5rem;
}

.whoweare__img {
	-ms-flex-positive   : 1;
	flex-grow           : 1;
	width               : 35%;
	height              : auto;
}

.whoweare__text {
	text-align    : justify;
	text-indent   : 3rem;
	width         : 65%;
}

.whoweare__text>h2 {
	text-align   : left;
}

.whoweare__text span {
	color   : var(--logo-color);
}

.whoweare__text>*+* {
	margin   : 1.5rem 0 0 0;
}











/* ! WE DO */

.wedo {
	background        : url(../wedo_filter_compressed.jpg) no-repeat center;
	background-size   : cover;
	color             : white;
	font-size         : 2.4rem;
}

.wedo__inner>*+* {
	margin   : 5rem 0 0 0;
}

.wedo i {
	font-size   : 6rem;
}

.wedo p {
	margin-left   : 2rem;
}

.wedo__item {
	display           : -ms-flexbox;
	display           : flex;
	-ms-flex-align    : center;
	align-items       : center;
	-ms-flex-pack     : center;
	justify-content   : center;
	width             : calc((100% - 5rem * 2) * 0.33333);
}

.wedo__first {
	display           : -ms-flexbox;
	display           : flex;
	-ms-flex-pack     : justify;
	justify-content   : space-between;
	-ms-flex-align    : center;
	align-items       : center;
}

.wedo__first>*+* {
	margin   : 0 0 0 5rem;
}

.wedo__second {
	-ms-flex-pack     : center;
	justify-content   : center;
}

















/* ! COURSES */

.courses {
	--section_size   : 1rem;
	--python1        : rgba(228, 242, 255, 1);
	--python2        : rgba(2, 119, 189, 0.2);
	--python3        : rgba(2, 119, 189, 1);
	--python4        : rgba(2, 119, 189, .3);
	--robo1          : rgba(250, 249, 240, 1);
	--robo2          : rgba(69, 90, 100, 0.2);
	--robo3          : rgba(69, 90, 100, 1);
	--robo4          : rgba(69, 90, 100, .3);
	--treeDmax1      : rgba(240, 249, 250, 1);
	--treeDmax2      : rgba(0, 131, 143, 0.2);
	--treeDmax3      : rgba(0, 131, 143, 1);
	--treeDmax4      : rgba(0, 131, 143, .3);
	--Csharp1        : rgba(240, 240, 250, 1);
	--Csharp2        : rgba(150, 85, 245, 0.2);
	--Csharp3        : rgba(150, 85, 245, 1);
	--Csharp4        : rgba(150, 85, 245, .3);
	--android1       : rgba(240, 250, 240, 1);
	--android2       : rgba(124, 179, 66, 0.2);
	--android3       : rgba(124, 179, 66, 1);
	--android4       : rgba(124, 179, 66, .3);
	--twoD1          : rgba(250, 240, 245, 1);
	--twoD2          : rgba(198, 13, 13, 0.2);
	--twoD3          : rgba(198, 13, 13, 1);
	--twoD4          : rgba(198, 13, 13, .3);
	position         : relative;
	overflow         : hidden;
}

.courses__inner {
	display              : -ms-flexbox;
	display              : flex;
	-ms-flex-direction   : column;
	flex-direction       : column;
	-ms-flex-align       : center;
	align-items          : center;
}




.courses::before {
	will-change           : transform, -webkit-transform;
	content               : '';
	position              : fixed;
	opacity               : 0.2;
	background            : url(../courses/courses_backgr.gif);
	background-size       : contain;
	top                   : 0;
	right                 : -450vw;
	bottom                : 0;
	left                  : 0;
	-webkit-animation     : scroll linear 100s infinite;
	animation             : scroll linear 100s infinite;
	background-position   : left bottom;
	z-index               : -1000;
}

.courses.disbl::before {
	/* will-change   : unset; */
	-webkit-animation   : none;
	animation           : none;
}

@-webkit-keyframes scroll {
	from {
		-webkit-transform   : translate3d(0, 0, 0);
		transform           : translate3d(0, 0, 0);
	}

	to {
		-webkit-transform   : translate3d(-450vw, 0, 0);
		transform           : translate3d(-450vw, 0, 0);
	}
}

@keyframes scroll {
	from {
		-webkit-transform   : translate3d(0, 0, 0);
		transform           : translate3d(0, 0, 0);
	}

	to {
		-webkit-transform   : translate3d(-450vw, 0, 0);
		transform           : translate3d(-450vw, 0, 0);
	}
}



.courses__inner>*+* {
	margin   : 3rem 0 0 0;
}

.courses__cards {
	display           : -ms-flexbox;
	display           : flex;
	-ms-flex-pack     : justify;
	justify-content   : space-between;
	width             : 100%;
}

.courses__card {
	display              : -ms-flexbox;
	display              : flex;
	-ms-flex-direction   : column;
	flex-direction       : column;
	-ms-flex-pack        : justify;
	justify-content      : space-between;
	-ms-flex-align       : center;
	align-items          : center;
	padding              : 3rem;
	border-radius        : 4rem;
	width                : calc((100% - 3rem * 2) / 3);
	text-align           : center;
	transition           : all .3s ease !important;
}

.courses__card>*+* {
	margin   : 1.5rem 0 0 0;
}



.courses__card:hover {
	-webkit-transform   : scale(1.05) !important;
	-ms-transform       : scale(1.05) !important;
	transform           : scale(1.05) !important;
}

.courses__card__img {
	display           : -ms-flexbox;
	display           : flex;
	-ms-flex-pack     : center;
	justify-content   : center;
	-ms-flex-align    : center;
	align-items       : center;
	overflow          : hidden;
	width             : calc(var(--section_size) * 9);
	height            : calc(var(--section_size) * 9);
}

.courses__card__img>img {
	width    : 100%;
	height   : 100%;
}

.courses__card>*:nth-child(2) {
	font-size     : calc(var(--section_size) * 2.4);
	font-weight   : 700;
}

.courses__card>*:nth-child(3) {
	font-size   : calc(var(--section_size) * 2);
}

.courses__card__buttons {
	width             : 100%;
	display           : -ms-flexbox;
	display           : flex;
	-ms-flex-pack     : justify;
	justify-content   : space-between;
}

.courses__card__buttons>* {
	font-size   : calc(var(--section_size) * 2);
}

/* ! COURSES COLORS */

/* ! Python */
.c__python {
	background-color   : var(--python1);
	box-shadow         : 0 0 5rem var(--python4);
}

.c__python button:first-child {
	color              : var(--python3);
	background-color   : var(--python2);
}

.c__python button:first-child::before {
	background-color   : var(--python3);
}

.c__python .button2:last-child {
	background-color   : var(--python3);
}

.c__python .button2:last-child:hover {
	box-shadow   : 0 0 1rem var(--python3);
}

/* ! Robo */
.c__robo {
	background-color   : var(--robo1);
	box-shadow         : 0 0 5rem var(--robo4);
}

.c__robo button:first-child {
	color              : var(--robo3);
	background-color   : var(--robo2);
}

.c__robo button:first-child::before {
	background-color   : var(--robo3);
}

.c__robo .button2:last-child {
	background-color   : var(--robo3);
}

.c__robo .button2:last-child:hover {
	box-shadow   : 0 0 1rem var(--robo3);
}

/* ! 3D */
.c__3d {
	background-color   : var(--treeDmax1);
	box-shadow         : 0 0 5rem var(--treeDmax4);
}

.c__3d button:first-child {
	color              : var(--treeDmax3);
	background-color   : var(--treeDmax2);
}

.c__3d button:first-child::before {
	background-color   : var(--treeDmax3);
}

.c__3d .button2:last-child {
	background-color   : var(--treeDmax3);
}

.c__3d .button2:last-child:hover {
	box-shadow   : 0 0 1rem var(--treeDmax3);
}

/* ! C# */
.c__sharp {
	background-color   : var(--Csharp1);
	box-shadow         : 0 0 5rem var(--Csharp4);
}

.c__sharp button:first-child {
	color              : var(--Csharp3);
	background-color   : var(--Csharp2);
}

.c__sharp button:first-child::before {
	background-color   : var(--Csharp3);
}

.c__sharp .button2:last-child {
	background-color   : var(--Csharp3);
}

.c__sharp .button2:last-child:hover {
	box-shadow   : 0 0 1rem var(--Csharp3);
}

/* ! Android */
.c__android {
	background-color   : var(--android1);
	box-shadow         : 0 0 5rem var(--android4);
}

.c__android button:first-child {
	color              : var(--android3);
	background-color   : var(--android2);
}

.c__android button:first-child::before {
	background-color   : var(--android3);
}

.c__android .button2:last-child {
	background-color   : var(--android3);
}

.c__android .button2:last-child:hover {
	box-shadow   : 0 0 1rem var(--android3);
}

/* ! 2D */
.c__2d {
	background-color   : var(--twoD1);
	box-shadow         : 0 0 5rem var(--twoD4);
}

.c__2d button:first-child {
	color              : var(--twoD3);
	background-color   : var(--twoD2);
}

.c__2d button:first-child::before {
	background-color   : var(--twoD3);
}

.c__2d .button2:last-child {
	background-color   : var(--twoD3);
}

.c__2d .button2:last-child:hover {
	box-shadow   : 0 0 1rem var(--twoD3);
}























/* ! VIDEOS */

.videos {
	background        : url(../videos_backgr.svg);
	background-size   : cover;
}

.videos__inner {
	display              : -ms-flexbox;
	display              : flex;
	-ms-flex-direction   : column;
	flex-direction       : column;
	-ms-flex-align       : center;
	align-items          : center;
	color                : white;
}

.videos__inner>*+* {
	margin   : 3rem 0 0 0;
}

.videos__items {
	display   : -ms-flexbox;
	display   : flex;
	width     : 100%;
}

.videos__items>*+* {
	margin   : 0 0 0 3rem;
}

.ytvideo {
	overflow        : hidden;
	border          : 1rem solid white;
	border-radius   : 2rem;
	width           : calc(100% / 3);
	transition      : all .3s ease !important;

	background-color   : black;
}

.ytvideo__inner {
	width    : 100%;
	height   : 100%;
}

.ytvideo:hover {
	border-width   : 0;
}






/* ! TEAM */

.team {
	background-color   : white;
}

.team__inner {
	display              : -ms-flexbox;
	display              : flex;
	-ms-flex-direction   : column;
	flex-direction       : column;
	-ms-flex-align       : center;
	align-items          : center;
}

.team__inner>*+* {
	margin   : 3rem 0 0 0;
}

.team__inner>p {
	width         : 75%;
	text-align    : justify;
	text-indent   : 3rem;
}

.team__cards {
	display                 : grid;
	grid-template-columns   : repeat(30, 1fr);
	grid-gap                : 1rem;
}

.team__card {
	display              : -ms-flexbox;
	display              : flex;
	-ms-flex-direction   : column;
	flex-direction       : column;
	padding              : 1.5rem;
	border-radius        : 5rem;
	text-align           : center;
	box-shadow           : var(--card-shadow);
	-ms-flex-order       : 1;
	order                : 1;
}

.team__card:nth-child(1),
.team__card:nth-child(2),
.team__card:nth-child(3),
.team__card:nth-child(4),
.team__card:nth-child(5) {
	grid-column   : auto / span 6;
}

.team__card:nth-child(6),
.team__card:nth-child(7),
.team__card:nth-child(8),
.team__card:nth-child(9),
.team__card:nth-child(10),
.team__card:nth-child(11) {
	grid-column   : auto / span 5;
}

.team__card span {
	margin   : auto;
}

.team__card>*+* {
	margin   : 1rem 0 0 0;
}

.team__card img {
	border-radius   : 5rem;
	width           : 100%;
	height          : auto;
}

.team__card>p:nth-child(2) {
	font-size     : 2rem;
	font-weight   : 700;
}

.team__card>p:nth-child(3) {
	font-size           : 1.8rem;
	display             : -ms-flexbox;
	display             : flex;
	-ms-flex-positive   : 1;
	flex-grow           : 1;
}







/* ! FAQ */

.faqq {
	font-size          : 2.4rem;
	background-color   : var(--main-bg-color);
}

.faqq__inner {
	display              : -ms-flexbox;
	display              : flex;
	-ms-flex-direction   : column;
	flex-direction       : column;
	-ms-flex-align       : center;
	align-items          : center;
}

.faqq__inner>*+* {
	margin   : 3rem 0 0 0;
}

.faqq__contents {
	display          : -ms-flexbox;
	display          : flex;
	-ms-flex-align   : center;
	align-items      : center;
}

.faqq__contents>*+* {
	margin   : 0 0 0 4rem;
}

.faqq__contents>img {
	width   : 18%;
}


.faqq__accordions {
	display              : -ms-flexbox;
	display              : flex;
	-ms-flex-direction   : column;
	flex-direction       : column;
	width                : 82%;
}

.faqq__accordions>*+* {
	margin   : 2rem 0 0 0;
}

.accordion__head {
	display          : -ms-flexbox;
	display          : flex;
	-ms-flex-align   : center;
	align-items      : center;
	cursor           : pointer;
}

.accordion__head>*+* {
	margin   : 0 0 0 1rem;
}

.accordion__head img {
	max-width    : 1em;
	min-width    : 1em;
	max-height   : 1em;
	min-height   : 1em;
	transition   : -webkit-transform .3s ease;
	transition   : transform .3s ease;
	transition   : transform .3s ease, -webkit-transform .3s ease;
}

.accordion__title {
	font-weight   : 600;
}

.accordion__content {
	position              : relative;
	display               : -ms-flexbox;
	display               : flex;
	overflow              : hidden;
	max-height            : 0;
	text-align            : justify;
	text-indent           : 3rem;
	transition            : all .3s ease;
	-webkit-user-select   : text;
	-moz-user-select      : text;
	-ms-user-select       : text;
	user-select           : text;
}

.accordion__content>*+* {
	margin   : 0 0 0 1rem;
}

.accordion__line {
	position     : relative;
	min-width    : 1em;
	min-height   : 100%;
}

.accordion__line::before {
	content             : '';
	position            : absolute;
	background-color    : var(--gr-text-color);
	left                : 50%;
	width               : 0.08333333333333333em;
	height              : 100%;
	-webkit-transform   : translateX(-50%);
	-ms-transform       : translateX(-50%);
	transform           : translateX(-50%);
}



.accordion.active .accordion__head>img {
	-webkit-transform   : rotate(225deg);
	-ms-transform       : rotate(225deg);
	transform           : rotate(225deg);
}

.accordion.active .accordion__content {
	margin-top   : 2rem;
}



































/* ! CONTACTS */

.contacts {
	background-color   : white;
}

.contacts__inner {
	display                 : grid;
	grid-template-columns   : 1fr 1fr;
	grid-column-gap         : 5rem;
	-ms-flex-align          : center;
	align-items             : center;
}

.yamap {
	border-radius   : 2rem;
	overflow        : hidden;
	width           : 100%;
}

.yamap>* {
	width    : 100%;
	height   : 100%;
}

.contacts__text {
	display              : -ms-flexbox;
	display              : flex;
	-ms-flex-direction   : column;
	flex-direction       : column;
	user-select          : text;
	font-size            : 1rem;
	--class-size         : 1rem;
}

.contacts__text>h2 {
	text-align   : left;
}

.contacts__text>p {
	font-size   : 2.4em;
}

.contacts__text>*+* {
	margin   : calc(var(--class-size) * 2) 0 0 0;
}

.contacts__buttons {
	display   : -ms-flexbox;
	display   : flex;
}

.contacts__buttons>*+* {
	margin   : 0 0 0 calc(var(--class-size) * 2);
}

.contacts__buttons .button {
	--button_bg_color     : rgba(39, 135, 245, 0.2);
	--button_text_color   : var(--vk-color);
	padding               : 0.6em 1.2em;
	font-size             : 2.4em;
}

.contacts__subscribe_text {
	text-align   : center;
	width        : 100%;
}

.contacts__subscribe_button span {
	font-size     : 2.8em;
	width         : 100%;
	padding       : calc(var(--class-size) * 1.4);
	text-align    : center;
	font-weight   : 500;
}

.contacts__subscribe_button:hover {
	-webkit-transform   : scale(1.03);
	-ms-transform       : scale(1.03);
	transform           : scale(1.03);
}











/* ! FOOTER */

footer {
	background-color   : var(--dark-color);
	color              : white;
	text-align         : center;
}

footer p:nth-child(1) {
	font-size       : 2rem;
	margin-bottom   : 2.5rem;
}

footer p:nth-child(2) {
	font-size   : 1.8rem;
}


























/* ! COURSE MODAL */

.course_modal {
	--section-size   : 1rem;
	font-size        : 1rem;
	position         : fixed;
	display          : -ms-flexbox;
	display          : flex;
	visibility       : hidden;
	overflow-y       : auto;
	padding          : 5em;
	top              : 0;
	right            : 0;
	bottom           : 0;
	left             : 0;
	z-index          : 1000;
}

.course_modal__inner {
	position              : relative;
	display               : -ms-flexbox;
	display               : flex;
	-ms-flex-direction    : column;
	flex-direction        : column;
	background-color      : var(--main-bg-color);
	margin                : auto;
	padding               : 6em;
	border-radius         : 3rem;
	width                 : 70%;
	height                : -webkit-fit-content;
	height                : fit-content;
	height                : -moz-fit-content;
	max-width             : 1100px;
	box-shadow            : 0 0 10rem rgba(0, 0, 0, 0.8);
	-webkit-user-select   : text;
	-moz-user-select      : text;
	-ms-user-select       : text;
	user-select           : text;
}

.course_modal__inner>*+* {
	margin   : 3em 0 0 0;
}

.course_modal__close {
	--button_rad          : 100em;
	--button_bg_color     : rgba(198, 13, 13, 0.1);
	--button_text_color   : rgba(198, 13, 13, 1);
	position              : absolute;
	padding               : 1.5rem;
	top                   : 2.5rem;
	right                 : 2.5rem;
}

.course_modal__close svg {
	width    : 3rem;
	height   : 3rem;
}

.course_modal__header {
	display           : -ms-flexbox;
	display           : flex;
	-ms-flex-pack     : center;
	justify-content   : center;
	-ms-flex-align    : center;
	align-items       : center;
}

.course_modal__header>*+* {
	margin   : 0 0 0 2em;
}

.course_modal__header span {
	max-width     : 80%;
	font-size     : 3.8em;
	font-weight   : 700;
	text-align    : center;
	line-height   : 1.3em;
}

.course_modal__header img {
	width    : 10em;
	height   : 10em;
}

.course_modal__desc>p {
	font-size     : 2em;
	text-align    : justify;
	text-indent   : calc(var(--section-size) * 3);
}

.course_modal__section {
	display          : -ms-flexbox;
	display          : flex;
	-ms-flex-align   : start;
	align-items      : flex-start;
}

.course_modal__section>*+* {
	margin   : 0 0 0 calc(var(--section-size) * 2);
}

.course_modal__section>img {
	width    : 3em;
	height   : 3em;
}

.course_modal__section__content {
	display              : -ms-flexbox;
	display              : flex;
	-ms-flex-direction   : column;
	flex-direction       : column;
}

.course_modal__section__content>*+* {
	margin   : calc(var(--section-size) * 1) 0 0 0;
}

.course_modal__section__title {
	font-size     : 2.4em;
	font-weight   : 500;
	line-height   : calc(var(--section-size) * 3);
}

.course_modal__section__content>p {
	font-size     : 2em;
	text-align    : justify;
	text-indent   : calc(var(--section-size) * 3);
}

.course_modal__section__content b {
	white-space   : nowrap;
}

.course_modal__button {
	display           : -ms-flexbox;
	display           : flex;
	-ms-flex-pack     : end;
	justify-content   : flex-end;
	-ms-flex-align    : center;
	align-items       : center;
}

.course_modal__button>*+* {
	margin   : 0 0 0 calc(var(--section-size) * 3);
}

.course_modal__button p {
	font-size    : 3em;
	text-align   : right;
}

.course_modal__button span {
	font-weight   : normal;
	white-space   : nowrap;
}

.course_modal__button .button2 {
	border-radius   : calc(var(--section-size) * 1.8);
	font-size       : 2.4em;
}

@-webkit-keyframes fadeIn {
	from {
		background-color   : rgb(0, 0, 0, 0);
		visibility         : hidden;
	}

	to {
		background-color   : rgb(0, 0, 0, .77);
		visibility         : visible;
	}
}

@keyframes fadeIn {
	from {
		background-color   : rgb(0, 0, 0, 0);
		visibility         : hidden;
	}

	to {
		background-color   : rgb(0, 0, 0, .77);
		visibility         : visible;
	}
}

@-webkit-keyframes fadeOut {
	from {
		background-color   : rgb(0, 0, 0, .77);
		visibility         : visible;
	}

	to {
		background-color   : rgb(0, 0, 0, 0);
		visibility         : hidden;
	}
}

@keyframes fadeOut {
	from {
		background-color   : rgb(0, 0, 0, .77);
		visibility         : visible;
	}

	to {
		background-color   : rgb(0, 0, 0, 0);
		visibility         : hidden;
	}
}

@-webkit-keyframes slideIn {
	from {
		opacity             : 0;
		-webkit-transform   : translate(0, 50px);
		transform           : translate(0, 50px);
	}

	to {
		opacity             : 1;
		-webkit-transform   : translate(0, 0);
		transform           : translate(0, 0);
	}
}

@keyframes slideIn {
	from {
		opacity             : 0;
		-webkit-transform   : translate(0, 50px);
		transform           : translate(0, 50px);
	}

	to {
		opacity             : 1;
		-webkit-transform   : translate(0, 0);
		transform           : translate(0, 0);
	}
}

@-webkit-keyframes slideOut {
	from {
		opacity             : 1;
		-webkit-transform   : translate(0, 0);
		transform           : translate(0, 0);
	}

	to {
		opacity             : 0;
		-webkit-transform   : translate(0, -50px);
		transform           : translate(0, -50px);
	}
}

@keyframes slideOut {
	from {
		opacity             : 1;
		-webkit-transform   : translate(0, 0);
		transform           : translate(0, 0);
	}

	to {
		opacity             : 0;
		-webkit-transform   : translate(0, -50px);
		transform           : translate(0, -50px);
	}
}

.course_modal {
	-webkit-animation-duration          : .5s;
	animation-duration                  : .5s;
	-webkit-animation-timing-function   : ease;
	animation-timing-function           : ease;
}

.course_modal__inner {
	-webkit-animation-duration          : .2s;
	animation-duration                  : .2s;
	-webkit-animation-timing-function   : ease;
	animation-timing-function           : ease;
}

.course_modal.show {
	-webkit-animation-name   : fadeIn;
	animation-name           : fadeIn;
	visibility               : visible;
	background-color         : rgb(0, 0, 0, .77);
}

.course_modal.hide {
	-webkit-animation-name   : fadeOut;
	animation-name           : fadeOut;
	visibility               : hidden;
	background-color         : rgb(0, 0, 0, 0);
}

.course_modal.show>.course_modal__inner {
	-webkit-animation-name   : slideIn;
	animation-name           : slideIn;
	opacity                  : 1;
	-webkit-transform        : translate(0, 0);
	-ms-transform            : translate(0, 0);
	transform                : translate(0, 0);
}

.course_modal.hide>.course_modal__inner {
	-webkit-animation-name   : slideOut;
	animation-name           : slideOut;
	opacity                  : 0;
	-webkit-transform        : translate(0, 10%);
	-ms-transform            : translate(0, 10%);
	transform                : translate(0, 10%);
}









/* ! SUBSCRIBE */

.subscribe {
	position                    : fixed;
	display                     : -ms-flexbox;
	display                     : none;
	overflow                    : hidden;
	background                  : var(--main-bg-color);
	width                       : 100%;
	height                      : 100%;
	z-index                     : 1100;
	animation-duration          : .3s;
	animation-timing-function   : ease;
}

.subscribe__inner {
	display                 : grid;
	grid-template-columns   : auto 740px;
	margin                  : auto;
	height                  : 100%;
}

.subscribe__close {
	position   : fixed;

	top       : 15px;
	right     : 15px;
	padding   : 15px;

	--button_bg_color     : rgba(198, 13, 13, 0.1);
	--button_rad          : 100px;
	--button_text_color   : rgba(198, 13, 13, 1);
	box-shadow            : 0 0 0 white;
}

.subscribe__close>svg {
	width    : 20px;
	height   : auto;
}

.subscribe__contacts {
	font-size      : 8px;
	--class-size   : 8px;
	padding        : 30px;
	margin         : auto;
}

.subscribe__frame {
	order     : 1;
	display   : block;
	width     : 740px;
	height    : 100%;
}

.subscribe__frame>iframe {
	width    : 100%;
	height   : 99.6%;
	border   : 0;
	margin   : 0;
}



.subscribe.hide {
	display          : flex;
	visibility       : hidden;
	overflow-y       : hidden;
	opacity          : 0;
	animation-name   : subscribe_hide;
}

.subscribe.show {
	display          : flex;
	visibility       : visible;
	overflow-y       : auto;
	opacity          : 1;
	animation-name   : subscribe_show;
}


@keyframes subscribe_show {
	from {
		visibility   : hidden;
		overflow-y   : hidden;
		opacity      : 0;
		transform    : translateY(50px);
	}

	to {
		visibility   : visible;
		opacity      : 1;
		transform    : translateY(0);
	}
}

@keyframes subscribe_hide {
	from {
		visibility   : visible;
		opacity      : 1;
		transform    : translateY(0);
	}

	to {
		transform    : translateY(-50px);
		visibility   : hidden;
		overflow-y   : hidden;
		opacity      : 0;
	}
}


































/* ! MEDIA */
@media (max-width: 1920px) {
	html {
		font-size   : 0.52vw;
	}


}

@media (max-width: 1280px) {

	/* ! CONTAINER */
	.container {
		width   : calc(90% + 3rem);
	}

	/* ! HEADER */
	.header {
		font-size       : 3rem;
		width           : 100%;
		border-radius   : 0;
	}

	/* ! SUBSCRIBE */

	.subscribe {
		/* justify-content   : center; */
	}

	.subscribe__inner {
		display   : block;
		width     : 100%;
	}

	.subscribe__contacts {
		width     : min-content;
		padding   : 30px 0;
	}

	.subscribe__frame {
		width    : 100%;
		height   : 100%;
	}
}

/* @media (max-width    : 960px) {} */

@media (max-width : 770px) {
	html {
		font-size   : 1.5vw;
	}

	.container {
		padding   : 4rem 15px;
	}

	/* ! COURSE MODAL */

	.course_modal {
		--section-size   : 1.2rem;
		font-size        : 1.2rem;
		padding          : 2rem;
		padding-bottom   : 10rem;
	}

	.course_modal__inner {
		padding   : 2em;
		width     : 100%;
	}

	.course_modal__header {
		-ms-flex-direction   : column-reverse;
		flex-direction       : column-reverse;
	}

	.course_modal__header span {
		max-width   : 80%;
		font-size   : 2.5em;
	}

	.course_modal__header img {
		margin       : 0 0 2em 0;
		width        : 10em;
		height       : auto;
		max-height   : 10em;
	}

	.course_modal__button>p>br {
		display   : none;
	}

	/* ! HEADER */
	.header {
		font-size   : 1.4rem;
	}

	.header__nav {
		display   : none;
	}

	.header__auth {
		margin-left    : auto;
		margin-right   : 2rem;
	}

	.header__modal_menu {
		display   : block;
	}

	/* ! MAIN SECTION */
	.main {
		font-size        : 1.1vw;
		--section_size   : 1.1vw;
	}

	.main__inner {
		-ms-flex-direction   : column-reverse;
		flex-direction       : column-reverse;
	}

	.main__inner>*+* {
		margin   : 0 0 5em 0;
	}

	.main__right {
		margin-left   : 10%;
		width         : 80%;
	}

	.main__text {
		font-size   : 5.5em;
	}

	.main__left>.button {
		font-size   : 5em;
	}

	/* ! WHO WE ARE */
	.whoweare__inner {
		-ms-flex-direction   : column-reverse;
		flex-direction       : column-reverse;
		-ms-flex-align       : center;
		align-items          : center;
	}

	.whoweare__inner>*+* {
		margin   : 0 0 5rem 0;
	}

	.whoweare__img {
		width       : 90%;
		max-width   : 550px;
	}

	.whoweare__text {
		width       : 100%;
		min-width   : 0;
	}

	.whoweare__text>h2 {
		text-align   : center;
	}

	/* ! WE DO */


	.wedo__inner>*+* {
		margin   : 2rem 0 0 0;
	}

	.wedo__item {
		width             : 100%;
		-ms-flex-pack     : justify;
		justify-content   : space-between;
	}

	.wedo i {
		min-width     : 7rem;
		line-height   : 7rem;
		text-align    : center;
	}

	.wedo__first {
		-ms-flex-direction   : column;
		flex-direction       : column;
	}

	.wedo__first>*+* {
		margin   : 2rem 0 0 0;
	}

	/* ! COURSES */

	.courses {
		/* 7.5/396*100 */
		--section_size   : 1.8vw;
	}

	.courses::before {
		background-size   : 100vw;
	}

	.courses__cards {
		-ms-flex-direction   : column;
		flex-direction       : column;
	}

	.courses__cards>*+* {
		margin   : 3rem 0 0 0;
	}

	.courses__card {
		width   : 100%;
	}

	/* ! VIDEOS */

	.videos__inner {
		text-align   : center;
	}

	.videos__items {
		-ms-flex-direction   : column;
		flex-direction       : column;
		-ms-flex-align       : center;
		align-items          : center;
	}

	.videos__items>*+* {
		margin   : 3rem 0 0 0;
	}

	.ytvideo {
		width      : 100%;
		overflow   : hidden;
	}

	.ytvideo__inner {
		width    : 100%;
		height   : 100%;
	}

	/* ! TEAM */
	.team__inner>p {
		width   : 100%;
	}

	.team__cards {
		grid-template-columns   : repeat(2, 1fr);
	}

	.team__card:nth-child(n) {
		grid-column   : auto;
	}

	.team__card>p:nth-child(2) {
		font-size   : 2.4rem;
	}

	.team__card>p:nth-child(3) {
		font-size   : 2rem;
	}

	/* Матохина */
	.team__card:nth-child(2) {
		-ms-flex-order   : 0;
		order            : 0;
	}

	/* Щербаков */
	.team__card:nth-child(3) {
		-ms-flex-order   : -1;
		order            : -1;
		grid-column      : auto / span 2;
	}

	.team__card:nth-child(3)>img {
		width    : 50%;
		margin   : 0 auto;
	}

	/* Щербакова */
	.team__card:nth-child(4) {
		-ms-flex-order   : -1;
		order            : -1;
	}


	/* ! FAQ */
	.faqq__accordions {
		width   : 100%;
	}

	.faqq__contents>img {
		display   : none;
	}

	/* ! CONTACTS */
	.contacts__inner {
		display              : -ms-flexbox;
		display              : flex;
		-ms-flex-direction   : column-reverse;
		flex-direction       : column-reverse;
		padding              : 4rem 0;
		width                : 100%;
	}

	.contacts__inner>*+* {
		margin   : 0 0 4rem 0;
	}

	.contacts__text {
		padding   : 0 15px;
		width     : calc(90% + 3rem);
	}

	.contacts__text>h2 {
		text-align   : center;
	}

	.contacts__buttons {
		-ms-flex-direction   : column;
		flex-direction       : column;
	}

	.contacts__buttons>*+* {
		margin   : 2rem 0 0 0;
	}

	.contacts__buttons .button {
		width             : 100%;
		-ms-flex-pack     : center;
		justify-content   : center;
	}

	.yamap {
		border-radius   : 0;
	}

	/* ! SUBSCRIBE */

	.subscribe__contacts {
		width    : 70%;
		margin   : calc(var(--class-size) * 3) auto calc(var(--class-size) * 3);
	}

	/* ! SUBSCRIBE */

	.subscribe__contacts {
		font-size      : 6px;
		--class-size   : 6px;
		width          : 100%;
	}
}

@media (max-width: 450px) {

	/* ! HEADER */
	.header {
		padding   : 1rem;
	}

	.header__auth {
		margin   : 0;
	}
}

/* ! Блокировка кнопки входа */

.header__auth {
	display   : none;
}

.header__nav {
	margin   : 0 auto;
}